{
  "extends": ["stylelint-config-standard", "stylelint-config-recess-order"],
  "rules": {
    "max-nesting-depth": 3,
    "selector-class-pattern": "^[a-z][a-zA-Z0-9].+$",
    "selector-pseudo-element-colon-notation": "single"
  }
}
