.button {
  min-width: 64px;
  min-height: 46px;
  padding: 5px 15px;
  font-size: 0.8em;
  color: var(--color-blue);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 4px;

  &.default {
    border: 1px solid var(--color-blue-light);
  }

  &.default:hover {
    background-color: var(--color-blue-lighter);
  }

  &.error {
    color: var(--color-red);
    border: 1px solid var(--color-red-light);
  }

  &.error:hover {
    background-color: var(--color-red-lighter);
  }
}
