.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  margin-bottom: 20px;
}

.title {
  margin-right: 10px;
}

.link {
  width: 24px;
  height: 24px;
}

.plus {
  fill: var(--color-gray);

  &:hover {
    fill: var(--color-gray-darker);
  }
}

.category {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
}

.list {
  min-height: 10px;
  padding: 0;
  padding-left: 40px;
  list-style-type: none;
}
