.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin-right: 15px;
}

.controls {
  display: flex;
  align-items: center;
}

.link,
.visibility {
  margin-right: 5px;
  cursor: pointer;
}

.plus,
.icon {
  fill: var(--color-gray);

  &:hover {
    fill: var(--color-gray-darker);
  }
}

.checkbox {
  display: none;
}

.logout {
  cursor: pointer;
  background-color: unset;
  border: none;
}

.category {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
}

.list {
  min-height: 10px;
  padding: 0;
  list-style-type: none;
}
