.wish {
  position: relative;
  max-width: 70ch;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.link {
  position: absolute;
  top: 14px;
  left: -36px;
  color: unset;
  cursor: pointer;
  transform: translateY(-50%);
}

.edit {
  fill: var(--color-gray);

  &:hover {
    fill: var(--color-gray-darker);
  }
}

.name {
  color: var(--color-blue);
}

.price {
  color: var(--color-black);

  &.falls {
    color: var(--color-green);
  }
}
